@let _node = node();
<svg:g xmlns:svg="http://www.w3.org/2000/svg"
       class="dfg-node"
       [class.selected]="_node.isSelected"
       (mousedown)="nodeMouseDown.emit(_node)"
       (mouseup)="nodeMouseUp.emit(_node)"
>
    <svg:rect
        xmlns:svg="http://www.w3.org/2000/svg"
        [attr.x]="_node.x - PhysicsHelper.nodeRadius"
        [attr.y]="_node.y - PhysicsHelper.nodeRadius"
        [attr.width]="PhysicsHelper.nodeDiameter"
        [attr.height]="PhysicsHelper.nodeDiameter"
        [attr.rx]="6"
        [attr.ry]="6"
        fill="white">
    </svg:rect>
    <svg:text
        xmlns:svg="http://www.w3.org/2000/svg"
        [attr.x]="_node.x"
        [attr.y]="_node.y + 32"
        text-anchor="middle"
        font-size="15"
        fill="black"
        class="select-none"
        filter="url(#outlineEffect)"
    >
        @if(_node.name.startsWith('TAU_')){
            {{ 'τ' }}
        } @else {
            {{ _node.name  }}
        }
    </svg:text>
</svg:g>
