<svg [attr.width]="width" [attr.height]="height">
    <!-- Canvas Border -->
    <rect
        x="0"
        y="0"
        [attr.width]="width"
        [attr.height]="height"
        fill="none"
        stroke="black"
        stroke-width="2"
    ></rect>

    <!-- Draw edges -->
    @for (edge of edges; track $index) {
        <line
            [attr.x1]="edge.source.x"
            [attr.y1]="edge.source.y"
            [attr.x2]="edge.target.x"
            [attr.y2]="edge.target.y"
            stroke="black"
        ></line>
    }

    <!-- Draw nodes -->
    @for (node of nodes; track $index) {
        <circle
            [attr.cx]="node.x"
            [attr.cy]="node.y"
            r="10"
            fill="steelblue"
            (mousedown)="onDragStart(node)"
            (mousemove)="onDrag(node, $event)"
            (mouseup)="onDragEnd(node)"
            (mouseleave)="onDragEnd(node)"
        ></circle>
    }
</svg>
