<!-- Bounding Box -->
<svg:rect
    [attr.x]="dfgNode().x - (PhysicsHelper.eventLogWidth / 2)"
    [attr.y]="dfgNode().y - (dfgNode().height / 2)"
    [attr.width]="PhysicsHelper.eventLogWidth"
    [attr.height]="dfgNode().height"
    [attr.rx]="3"
    [attr.ry]="3"
    (click)="dfgClicked.emit(dfgNode().dfg)"
    class="cursor-pointer"
    fill="gray"
    stroke="black"
    stroke-width="1"
    xmlns:svg="http://www.w3.org/2000/svg"></svg:rect>

<svg:text
    xmlns:svg="http://www.w3.org/2000/svg"
    [attr.x]="dfgNode().x"
    [attr.y]="dfgNode().y - (dfgNode().height / 2) + (PhysicsHelper.eventLogTextPadding / 2)"
    text-anchor="middle"
    font-size="16"
    fill="black"
    class="select-none pointer-events-none"
>
    &#123; DFG &#125;
</svg:text>

@for (event of dfgNode().dfg.eventLog; track $index) {
    @let eventText = event | truncateEventLog;
    <svg:text
        xmlns:svg="http://www.w3.org/2000/svg"
        [attr.x]="dfgNode().x"
        [attr.y]="dfgNode().y - (dfgNode().height / 2) + (($index + 3) * PhysicsHelper.lineHeight)"
        text-anchor="middle"
        font-size="12"
        fill="black"
        class="select-none pointer-events-none max-w-[160px] overflow-hidden overflow-ellipsis"
    >
        {{eventText}} @if(!$last) {{{','}}}
    </svg:text>
}
