.dfg-node {
    rect {
        stroke: black;
        stroke-width: 2px;
        transition: stroke 0.3s, stroke-width 0.3s;
    }
    color: #c5c5c5;

    &:hover rect {
        stroke-width: 3px;
    }

    &.selected rect {
        stroke-width: 3px;
        stroke: red;
    }
}
